*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav svg{
    margin: 5px;
    width: 120px;
}
.part-2{
    display: flex;
    align-items: center;
    background-color: aliceblue;
 }
.three-dot{
margin: 10px 40% 10px 5px;
border: 1px solid rgb(79, 47, 47);
padding: 5px 8px;
border-radius: 3px;
}
.src{
    margin-right: 15px;
    float: right;
}
.src input{
    width: 130px;
    padding: 3px ;
    float: right;
}
 
.login{
    height: 50xp;
    width: 80xp;
    color: #fff;
    background-color: #5541F8;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.box1{
    height: 80vh;
    width: 90vw;
    margin: 10px auto;
    background-image: url("asset/img/dog.jpg");
    box-sizing: border-box;
    background-size: cover;

}
.box1 img{
    height: 100%;
    width: 100%;
}
